{
    "SITE1": {
        "URL1" : "...",
        "URL2" : "...",
        "ID": "...",
        "PASSWORD": "..."
    },
    "SITE2": {
        "URL1" : "...",
        "URL2" : "...",
        "ID": "...",
        "PASSWORD": "..."
    },
    "SITE3": {
        "URL1" : "...",
        "URL2" : "...",
        "ID": "...",
        "PASSWORD": "..."
    },
    "SITE4": {
        "URL1" : "...",
        "URL2" : "...",
        "ID": "...",
        "PASSWORD": "..."
    },
    "TELEGRAM": {
        "TOKEN": "...",
        "CHAT-ID": "..."
  }
}
